* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway";
    padding: 8px 8px 8px 24px;
    gap: 16px;
    align-self: stretch;
}

.logo, .logo-desktop {
    display: flex;
    align-items: center;
    color: #242731;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px; /* 112.5% */
    letter-spacing: 1px;
    text-transform: uppercase;
    gap: 13px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    gap: 48px;
    align-self: stretch;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 24px;
    gap: 16px;
    align-self: stretch;
}

h1 {
    color: #242731;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px; /* 112.5% */
}

.title p{
    color: #575F6E;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 137.5% */
}

.Notification {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    background: #EFF7FF;
}

.Notification p {
    color: #242426;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
}

.Notification i {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.Space {
    display: flex;
    padding: 0 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.Space p {
    color: #242426;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

fieldset {
    border: none;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    align-self: stretch;
}

.fields p {
    color: #575F6E;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

input {
    border: none;
    border-bottom: 0.5px solid #007AFF;
    padding: 2px;
}

::placeholder {
    color: #CBCBCB;
}

.reload, .reload-desktop {
    display: flex;
height: 32px;
padding-right: 16px;
justify-content: center;
align-items: center;
gap: 8px;
border: none;
color: #007AFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; /* 150% */
cursor: pointer;
}

button {
    display: flex;
    height: 48px;
    padding: 0 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #BBBFC1;
    background: #FFF;
    color: #242731;
    text-align: center;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-transform: capitalize;
    cursor: pointer;
}

.logo-desktop, .exit-desktop, .reload-desktop {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}


@media (min-width: 768px){
    header, .reload {display: none;}
    .logo-desktop, .exit-desktop, .reload-desktop {display: flex;}
    body {
        display: flex;
        padding: 44px 44px 44px 88px;
        justify-content: space-between;
        align-items: flex-start;
        flex-shrink: 0;
    }
    .logo-desktop img {width: 24px; height: 24px;}
    .Notification {
        background-color: inherit;
        border-radius: 8px;
        border: 1px solid #E2E4E5;
    }
    .fields {flex-direction: row;}
    .title, .title p, .title h1, main, .Space, .fields {text-align: left; align-items: start;}
    .title {padding: 0;}
}